@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
  --primary-clr: #282c34;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-clr);
}

.timeline {
  position: relative;
  width: min(60rem, 90%);
  height: 4px;
  background-color: white;
  margin: 5rem auto;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: coral;
  transition: 500ms;
}

.form {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  background-color: white;
  width: min(40rem, 80%);
  margin: 0 auto;
  border-radius: 0.7rem;
}

.form--header {
  text-align: center;
  margin: 0;
  font-size: 2rem;
}

.form--prompt {
  text-align: center;
  color: #777;
  margin: 0;
}

.form-input-container {
  position: relative;
}
.form-error-text {
  color: crimson;
  font-size: small;
  position: absolute;
  z-index: 99;
}

.form--input {
  width: 100%;
  margin: 1.5rem 0;
  padding-top: 1rem;
  border: 0;
  font-size: 1rem;
  border-bottom: 3px solid;
  position: relative;
}

.form--input:focus {
  outline: none;
}

.form--input::placeholder {
  transition: 250ms;
}

.form--input:focus::placeholder {
  font-size: small;
  transform: translateY(-1rem);
}


.form--step-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 1rem;

}

.form--step-btn {
  border: none;
  border-radius: 20px;
  background-color: coral;
  color: white;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: 250ms;
}

.form--step-btn:hover {
  background-color: hsl(16, 100%, 56%);
}

.form--step-btn:focus, .form--step-btn:active {
  outline: none;
  background-color: hsl(16, 100%, 36%);
}


.form--login {
  margin: 2rem 1rem 0;
  text-align: center;
}

.form--login a {
  color: #777;
  text-decoration: none;
}

.form--login a:hover {
  color: blue;
}


.form-btn-submit {
  width: 10rem;
  margin: 0 auto;
}



@media screen and (min-width: 800px) {
  .form {
    padding: 3rem;
  }
  .form--input:focus::placeholder {
    font-size: 1rem;
  }

  .form--input {
    font-size: 1.5rem;
    padding-top: 2rem;
  }
  .form--step-btn-container {
    margin-top: 3rem;
  }
}